[submodule "themes/papaya"]
	path = themes/papaya
	url = https://github.com/Rahel-a/papaya.git
	branch = patch-2
[submodule "themes/duckquill"]
	path = themes/duckquill
	url = https://codeberg.org/daudix/duckquill.git
[submodule "content/cv"]
	path = content/cv
	url = https://github.com/Rahel-a/rahmed_blog_portfolio.git
